.oval-btn {
  padding: 0.6rem 1.5rem;
  border: 1px solid #657d39;
  border-radius: 999px; /* makes it oval */
  text-decoration: none;
  color: #fff4c5;
  font-family: "JetBrains Mono", monospace;
  transition: all 0.3s ease;
}

.oval-btn:hover {
  background: #657d39;
  color: #fff4c5;
}

.social-links {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.social-icon {
  width: 28px;
  height: 28px;
  fill: #657d39; 
  transition: transform 0.2s ease, fill 0.2s ease;
}

.social-icon:hover {
  transform: scale(1.2);
  fill: #657d39; 
}



/* 📱 Tablet and smaller */
@media (max-width: 768px) {
  .oval-btn {
    font-size: 1rem;
    padding: 0.5rem 1.2rem;
  }
}

/* 📱 Mobile */
@media (max-width: 430px) {
  .oval-btn {
    font-size: 0.5rem;
    padding: 0.4rem 1rem;
  }
}
