.hero {
  text-align: center;   
  color: #fff4c5;
  padding-top: 11rem;
}
.hero-header {
  position: relative;  
  display: inline-block;
}
.hero h1 {
  font-family: "Young Serif", serif;
  font-size: 8.5rem;      
  margin: 0.5rem 0;
  line-height: 1; 
}

.hero h2 {
  font-size: 1.2rem;
  color: #fff4c5;
}

.hero h3 {
  font-size: 2.5rem;
  margin: 0.5rem 0;
  font-weight: bold;
}

.hero .tag {
  display: inline-block;
  padding: 0.8rem 2rem;
  border: 2px solid #111;
  font-family: "JetBrains Mono", monospace;
  font-size: 1.2rem;
  margin-top: 1rem;

  border-radius: 999px; 
}

.hero-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}



.hero-img {
  position: absolute;
  width: 50px;  /* adjust size */
  height: auto;
  z-index: 0;   /* behind the text */
}

/* Positioning examples */
.hero-img.top-left {
  top: -40px;
  left: -60px;
}

.hero-img.top-right {
  top: -30px;
  right: -70px;
}

.hero-img.bottom-left {
  bottom: -50px;
  left: -50px;
}

.hero-img.bottom-right {
  bottom: -40px;
  right: -60px;
}