body {
  font-family: "JetBrains Mono", monospace;
  line-height: 1.6;
  color: #fff4c5;
  background: #95bd43;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Young Serif", serif;
}

section h2 {
  margin-bottom: 1rem;
  text-transform: lowercase;
  display: inline-block;
  padding-bottom: 0.3rem;
}
